{% extends "data/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<h2>Data</h2>

{%if stateData%}
<table class="message_list">
            <thead>
            <tr>
                <th>State</th>
                <th>Cases</th>
                <th>Deaths</th>
            </tr>
            </thead>
            <tbody>
            {% for s in stateData %}
            <tr>
                    <td>{{ s.state}}</td>
                    <td>{{ s.cases}}</td>
                    <td>
                        {{ s.deaths }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There is no data in the db accessable.</p>
    {% endif %}
{% endblock %}